
.loginPage {
    padding-top: 10%;
    text-align: center;
    margin:auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.loginForm {
    position: relative;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
 }


.h1 {
    margin-left: 10px;
    opacity: 0.8;
}
.input {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #1DA1F2;
    border-radius: 5px;
    padding: 10px;
    margin:20px 10px 0px 10px;
}
.input:focus {
    position: relative;
    outline: none;
    border: 2px solid #1DA1F2;
    border-radius: 5px;
}

.btn {
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 11px;
    margin: 20px 10px 0 10px;
    background-color: #1DA1F2;
}
.btn:active {
    color:rgb(247, 107, 107);
    background-color: #63bef7;
}
.btn:hover {
    cursor: pointer;
    color:rgb(247, 107, 107);
    background-color: #70c5fd;
}
.btn:disabled {
    cursor: not-allowed;
    /* cursor: stop; */
    color:rgb(247, 107, 107);
    background-color: #394a55;
}

.error {
    padding: 0;
    margin:0 0 -20px 20px;
    border-radius: 10px 10px 0 0 ;
    color: rgb(247, 107, 107); 
    z-index: 2;
}